USE [master]
GO
/****** Object:  Database [CinemaWeb]    Script Date: 3/22/2025 11:17:28 PM ******/
CREATE DATABASE [CinemaWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CinemaWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CinemaWeb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CinemaWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CinemaWeb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CinemaWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CinemaWeb]
GO
/****** Object:  Table [dbo].[Booking_Seats]    Script Date: 3/22/2025 11:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking_Seats](
	[booking_seat_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[seat_id] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_seat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 3/22/2025 11:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[showtime_id] [int] NOT NULL,
	[booking_date] [datetime] NULL,
	[total_price] [decimal](10, 2) NOT NULL,
	[payment_status_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Halls]    Script Date: 3/22/2025 11:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Halls](
	[hall_id] [int] IDENTITY(1,1) NOT NULL,
	[theater_id] [int] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[total_seats] [int] NOT NULL,
	[status_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[hall_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HallStatus]    Script Date: 3/22/2025 11:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HallStatus](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Category]    Script Date: 3/22/2025 11:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Category](
	[movie_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieCategories]    Script Date: 3/22/2025 11:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieCategories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 3/22/2025 11:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[movie_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[duration] [int] NOT NULL,
	[year] [int] NULL,
	[release_date] [date] NULL,
	[rating] [float] NULL,
	[image_url] [nvarchar](255) NULL,
	[status_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieStatus]    Script Date: 3/22/2025 11:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieStatus](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 3/22/2025 11:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[method_id] [int] IDENTITY(1,1) NOT NULL,
	[method_name] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[method_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 3/22/2025 11:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[method_id] [int] NOT NULL,
	[payment_date] [datetime] NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[status_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentStatus]    Script Date: 3/22/2025 11:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentStatus](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/22/2025 11:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 3/22/2025 11:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[seat_id] [int] IDENTITY(1,1) NOT NULL,
	[hall_id] [int] NOT NULL,
	[seat_row] [char](1) NOT NULL,
	[seat_number] [int] NOT NULL,
	[type_id] [int] NOT NULL,
	[status_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[seat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatStatus]    Script Date: 3/22/2025 11:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatStatus](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatTypes]    Script Date: 3/22/2025 11:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatTypes](
	[type_id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Showtimes]    Script Date: 3/22/2025 11:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Showtimes](
	[showtime_id] [int] IDENTITY(1,1) NOT NULL,
	[movie_id] [int] NOT NULL,
	[hall_id] [int] NOT NULL,
	[show_date] [date] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[showtime_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Theaters]    Script Date: 3/22/2025 11:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Theaters](
	[theater_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[location] [nvarchar](max) NOT NULL,
	[total_halls] [int] NOT NULL,
	[status_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[theater_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheaterStatus]    Script Date: 3/22/2025 11:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheaterStatus](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/22/2025 11:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[full_name] [nvarchar](max) NOT NULL,
	[gender] [int] NULL,
	[birthdate] [date] NULL,
	[phone] [varchar](15) NULL,
	[role_id] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[created_by] [int] NULL,
	[update_by] [int] NULL,
	[update_at] [datetime] NULL,
	[status_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserStatus]    Script Date: 3/22/2025 11:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserStatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HallStatus] ON 

INSERT [dbo].[HallStatus] ([status_id], [status_name]) VALUES (1, N'Available')
INSERT [dbo].[HallStatus] ([status_id], [status_name]) VALUES (3, N'Closed')
INSERT [dbo].[HallStatus] ([status_id], [status_name]) VALUES (2, N'Under Maintenance')
SET IDENTITY_INSERT [dbo].[HallStatus] OFF
GO
INSERT [dbo].[Movie_Category] ([movie_id], [category_id]) VALUES (3, 1)
INSERT [dbo].[Movie_Category] ([movie_id], [category_id]) VALUES (5, 5)
INSERT [dbo].[Movie_Category] ([movie_id], [category_id]) VALUES (12, 4)
GO
SET IDENTITY_INSERT [dbo].[MovieCategories] ON 

INSERT [dbo].[MovieCategories] ([category_id], [category_name]) VALUES (1, N'aaaa')
INSERT [dbo].[MovieCategories] ([category_id], [category_name]) VALUES (6, N'bsdskj')
INSERT [dbo].[MovieCategories] ([category_id], [category_name]) VALUES (7, N'c s vck')
SET IDENTITY_INSERT [dbo].[MovieCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([movie_id], [title], [description], [duration], [year], [release_date], [rating], [image_url], [status_id]) VALUES (3, N'aaaaaaaa', N'sadcffgb r', 120, 2025, CAST(N'2003-11-05' AS Date), 5, N'imge/aquaman.jpg', 1)
INSERT [dbo].[Movies] ([movie_id], [title], [description], [duration], [year], [release_date], [rating], [image_url], [status_id]) VALUES (5, N'bbbbbbbbb', N'sfdsfsdfd', 190, 2025, CAST(N'8888-11-05' AS Date), 5, N'imge/aquaman.jpg', 2)
INSERT [dbo].[Movies] ([movie_id], [title], [description], [duration], [year], [release_date], [rating], [image_url], [status_id]) VALUES (12, N'dnjkasbdjk', N'1233', 12, 2024, CAST(N'1009-02-28' AS Date), 5, N'imge/aquaman.jpg', 1)
SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
SET IDENTITY_INSERT [dbo].[MovieStatus] ON 

INSERT [dbo].[MovieStatus] ([status_id], [status_name]) VALUES (2, N'Coming Soon')
INSERT [dbo].[MovieStatus] ([status_id], [status_name]) VALUES (3, N'Ended')
INSERT [dbo].[MovieStatus] ([status_id], [status_name]) VALUES (1, N'Now Showing')
SET IDENTITY_INSERT [dbo].[MovieStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethods] ON 

INSERT [dbo].[PaymentMethods] ([method_id], [method_name]) VALUES (3, N'cash')
INSERT [dbo].[PaymentMethods] ([method_id], [method_name]) VALUES (1, N'credit_card')
INSERT [dbo].[PaymentMethods] ([method_id], [method_name]) VALUES (2, N'paypal')
SET IDENTITY_INSERT [dbo].[PaymentMethods] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentStatus] ON 

INSERT [dbo].[PaymentStatus] ([status_id], [status_name]) VALUES (3, N'cancelled')
INSERT [dbo].[PaymentStatus] ([status_id], [status_name]) VALUES (4, N'failed')
INSERT [dbo].[PaymentStatus] ([status_id], [status_name]) VALUES (2, N'paid')
SET IDENTITY_INSERT [dbo].[PaymentStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (1, N'admin')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (2, N'customer')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[SeatStatus] ON 

INSERT [dbo].[SeatStatus] ([status_id], [status_name]) VALUES (1, N'Available')
INSERT [dbo].[SeatStatus] ([status_id], [status_name]) VALUES (3, N'Broken')
INSERT [dbo].[SeatStatus] ([status_id], [status_name]) VALUES (2, N'Reserved')
SET IDENTITY_INSERT [dbo].[SeatStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[SeatTypes] ON 

INSERT [dbo].[SeatTypes] ([type_id], [type_name]) VALUES (3, N'couple')
INSERT [dbo].[SeatTypes] ([type_id], [type_name]) VALUES (1, N'standard')
INSERT [dbo].[SeatTypes] ([type_id], [type_name]) VALUES (2, N'vip')
SET IDENTITY_INSERT [dbo].[SeatTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[TheaterStatus] ON 

INSERT [dbo].[TheaterStatus] ([status_id], [status_name]) VALUES (2, N'Closed')
INSERT [dbo].[TheaterStatus] ([status_id], [status_name]) VALUES (1, N'Open')
INSERT [dbo].[TheaterStatus] ([status_id], [status_name]) VALUES (3, N'Under Maintenance')
SET IDENTITY_INSERT [dbo].[TheaterStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [username], [password], [email], [full_name], [gender], [birthdate], [phone], [role_id], [created_at], [created_by], [update_by], [update_at], [status_id]) VALUES (1, N'admin', N'123', N'admin@gmail.com', N'Admin Cinema', 1, CAST(N'1999-01-01' AS Date), N'0123456789', 1, CAST(N'2025-03-18T10:39:18.193' AS DateTime), 1, 1, CAST(N'2025-03-18T10:39:18.193' AS DateTime), 1)
INSERT [dbo].[Users] ([user_id], [username], [password], [email], [full_name], [gender], [birthdate], [phone], [role_id], [created_at], [created_by], [update_by], [update_at], [status_id]) VALUES (4, N'user1', N'123', N'user1@gmail.com', N'User 1', 2, CAST(N'1999-01-01' AS Date), N'0134567891', 2, CAST(N'2025-03-18T10:41:22.240' AS DateTime), 2, 2, CAST(N'2025-03-18T10:41:22.240' AS DateTime), 1)
INSERT [dbo].[Users] ([user_id], [username], [password], [email], [full_name], [gender], [birthdate], [phone], [role_id], [created_at], [created_by], [update_by], [update_at], [status_id]) VALUES (5, N'user2', N'123', N'user2@gmail.com', N'User 2', 1, CAST(N'0199-01-01' AS Date), N'0124584851', 2, CAST(N'2025-03-18T10:45:53.267' AS DateTime), 2, 2, CAST(N'2025-03-18T10:45:53.267' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserStatus] ON 

INSERT [dbo].[UserStatus] ([id], [name]) VALUES (1, N'Active')
INSERT [dbo].[UserStatus] ([id], [name]) VALUES (2, N'Inactive')
INSERT [dbo].[UserStatus] ([id], [name]) VALUES (3, N'Banned')
SET IDENTITY_INSERT [dbo].[UserStatus] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HallStat__501B3753A99D8D5D]    Script Date: 3/22/2025 11:17:28 PM ******/
ALTER TABLE [dbo].[HallStatus] ADD UNIQUE NONCLUSTERED 
(
	[status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MovieCat__5189E2559243AA51]    Script Date: 3/22/2025 11:17:28 PM ******/
ALTER TABLE [dbo].[MovieCategories] ADD UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MovieSta__501B3753B2BD86B2]    Script Date: 3/22/2025 11:17:28 PM ******/
ALTER TABLE [dbo].[MovieStatus] ADD UNIQUE NONCLUSTERED 
(
	[status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PaymentM__2DA2FAEE8E970DD0]    Script Date: 3/22/2025 11:17:28 PM ******/
ALTER TABLE [dbo].[PaymentMethods] ADD UNIQUE NONCLUSTERED 
(
	[method_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PaymentS__501B3753E01FDDF8]    Script Date: 3/22/2025 11:17:28 PM ******/
ALTER TABLE [dbo].[PaymentStatus] ADD UNIQUE NONCLUSTERED 
(
	[status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__783254B1AE034465]    Script Date: 3/22/2025 11:17:28 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SeatStat__501B3753EB5918C0]    Script Date: 3/22/2025 11:17:28 PM ******/
ALTER TABLE [dbo].[SeatStatus] ADD UNIQUE NONCLUSTERED 
(
	[status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SeatType__543C4FD9691F6397]    Script Date: 3/22/2025 11:17:28 PM ******/
ALTER TABLE [dbo].[SeatTypes] ADD UNIQUE NONCLUSTERED 
(
	[type_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TheaterS__501B3753441908E4]    Script Date: 3/22/2025 11:17:28 PM ******/
ALTER TABLE [dbo].[TheaterStatus] ADD UNIQUE NONCLUSTERED 
(
	[status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users_Ne__AB6E61645EE107AC]    Script Date: 3/22/2025 11:17:28 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users_Ne__F3DBC572BCE6F160]    Script Date: 3/22/2025 11:17:28 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [booking_date]
GO
ALTER TABLE [dbo].[Halls] ADD  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[Seats] ADD  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [dbo].[Theaters] ADD  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [dbo].[Booking_Seats]  WITH CHECK ADD FOREIGN KEY([booking_id])
REFERENCES [dbo].[Bookings] ([booking_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Booking_Seats]  WITH CHECK ADD FOREIGN KEY([seat_id])
REFERENCES [dbo].[Seats] ([seat_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([payment_status_id])
REFERENCES [dbo].[PaymentStatus] ([status_id])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([showtime_id])
REFERENCES [dbo].[Showtimes] ([showtime_id])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK__Bookings__user_i__09A971A2] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK__Bookings__user_i__09A971A2]
GO
ALTER TABLE [dbo].[Halls]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[HallStatus] ([status_id])
GO
ALTER TABLE [dbo].[Halls]  WITH CHECK ADD FOREIGN KEY([theater_id])
REFERENCES [dbo].[Theaters] ([theater_id])
GO
ALTER TABLE [dbo].[Movie_Category]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[MovieCategories] ([category_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movie_Category]  WITH CHECK ADD  CONSTRAINT [FK__Movie_Cat__movie__6A30C649] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([movie_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movie_Category] CHECK CONSTRAINT [FK__Movie_Cat__movie__6A30C649]
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[MovieStatus] ([status_id])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([booking_id])
REFERENCES [dbo].[Bookings] ([booking_id])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([method_id])
REFERENCES [dbo].[PaymentMethods] ([method_id])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[PaymentStatus] ([status_id])
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD FOREIGN KEY([hall_id])
REFERENCES [dbo].[Halls] ([hall_id])
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[SeatStatus] ([status_id])
GO
ALTER TABLE [dbo].[Seats]  WITH CHECK ADD FOREIGN KEY([type_id])
REFERENCES [dbo].[SeatTypes] ([type_id])
GO
ALTER TABLE [dbo].[Showtimes]  WITH CHECK ADD FOREIGN KEY([hall_id])
REFERENCES [dbo].[Halls] ([hall_id])
GO
ALTER TABLE [dbo].[Showtimes]  WITH CHECK ADD  CONSTRAINT [FK__Showtimes__movie__04E4BC85] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([movie_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Showtimes] CHECK CONSTRAINT [FK__Showtimes__movie__04E4BC85]
GO
ALTER TABLE [dbo].[Theaters]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[TheaterStatus] ([status_id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[UserStatus] ([id])
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD CHECK  (([rating]>=(0) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD CHECK  (([year]>=(1900) AND [year]<=datepart(year,getdate())))
GO
USE [master]
GO
